body h1, h2, h3, h4, h5, h6 ul, li{
    margin: 0;
}
body{
    background-color: rgb(162, 128, 168);
    
}
header {
    margin: 0 auto; 
  /*  background-image: url(/Unit5/images/tree.png);  */
   background-size: 200px;
   background-position-x: center;
   background-position-y: top;
   align-items: center;
   display: flex;
   flex-direction: column;
   background-repeat: no-repeat;
  
}

header h1 {
    
    font-family: 'avenir' , Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
}
header h2 {
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    font-family: 'roboto thin';
    color: rgb(255, 255, 255);
    padding: 0px 0px 10px 5px;
}


main{
    padding: 10px 10px 10px 20px;
    font-family: 'roboto thin', 'avenir', Calibri, sans-serif;
  /*   display:flex;
   justify-content: space-evenly;
 */
   
}
article{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

  
}
aside{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 2em;
    padding: 10px;
    background-color: rgb(215,215,215);
    border-radius: 15px;
    max-width: 350px;

}

ul{
    list-style-type: square;
}

button {
    font-size: 100%;
    border: 2px;
    border-radius: .25rem;
    padding: 10px;
    cursor: pointer;
    margin: 2px;
}
button:hover{
    background: rgb(215, 215, 215);
}
button:focus {
    outline: 3px solid rgb(247, 247, 247);
    outline-offset: -4px;
}
#noun{
    height: 100px;
}

footer {
    font-family: 'roboto thin', 'avenir', Calibri, sans-serif;
    text-align: center;
   
}
